:root {
  /* Primary */
  --orange-500: hsl(25, 97%, 53%);

  /* Neutral */
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(215, 22%, 15%);
  --grey-950: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
html {
  font-size: 15px;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--grey-950);
  padding: 1.5rem;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.rating-card {
  background-color: var(--grey-900);
  border-radius: 18px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 21rem;
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none !important;
}

.rating-card__star {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 1.1rem;
  background-color: hsla(217, 12%, 63%, 0.1);
  border-radius: 100%;
}

.rating-card--star img {
  width: 1rem;
  height: 1rem;
}

.rating-card__title {
  color: var(--white);
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  font-size: 1.5em;
}

.rating-card__text {
  color: var(--grey-500);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-size: 0.91em;
}

.rating-card__ratings {
  display: flex;
  justify-content: space-between;
  /* gap: 0.8rem; */
}

.rating-card__rate-button {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(217, 12%, 63%, 0.1);
  color: var(--grey-500);
  font-weight: 700;
  padding: 17px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.rating-card__rate-button:hover {
  background-color: var(--white);
  color: var(--grey-950);
}

.rating-card__submit {
  background-color: var(--orange-500);
  padding: 12px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-card__submit:hover {
  background-color: var(--white);
}

.rating-card--thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-card__image img {
  width: 9rem;
  height: 6.5rem;
}

.rating-card__selected {
  margin-top: 1.6rem;
  background-color: hsla(217, 12%, 63%, 0.1);
  border-radius: 20px;
  color: hsla(25, 97%, 53%, 0.7);
  font-weight: 400;
  padding: 0.6rem;
  font-size: 0.95em;
}

.rating-card__thank-title {
  margin-top: 2rem;
  letter-spacing: 0.5px;
  color: var(--white);
}

.rating-card__text--thank {
  margin-top: 1rem;
  text-align: center;
}

.active {
  background-color: var(--orange-500);
  color: var(--grey-950);
}

@media (min-width: 1440px) {
  .rating-card {
    max-width: 32.5rem;
    width: 100%;
    padding: 2.4rem;
    border-radius: 30px;
  }
  .rating-card__star {
    padding: 20px;
    margin-bottom: 2.5rem;
  }
  .rating-card__title {
    font-size: 2.1em;
    margin-bottom: 1rem;
  }
  .rating-card__text {
    font-size: 1.18em;
    line-height: 1.6;
  }
  .rating-card__ratings {
    justify-content: space-around;
  }
  .rating-card__rate-button {
    width: 4rem;
    height: 4rem;
    font-size: 1.2em;
  }
  .rating-card__submit {
    padding: 15px;
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  .rating-card__image img {
  width: 12.5rem;
  height: 8rem;
}

.rating-card__selected {
  font-size: 1.2em;
  padding: 0.5rem 1.5rem;
}
.rating-card__thank-title {
  font-size: 2.1em;
}
.rating-card__text--thank {
  padding-right: 1rem;
}
}
