@import 'tailwindcss';

@theme {
  --color-orange-500: hsl(25, 97%, 53%);
  --color-grey-500: hsl(217, 12%, 63%);
  --color-grey-900: hsl(215, 22%, 15%);
  --color-grey-950: hsl(216, 12%, 8%);
}

body {
  font-family: 'Overpass', sans-serif;
}
